<div id="tit">
  <h1 class="title">
    {{title}} {{clock}}
  </h1>
  <p>ffff费收费士大夫时发生的分数</p>
</div>
<ul>
  <li><img src="./app/public/4.jpg" alt="sss" style=" opacity: 0;z-index: 1"></li>
  <li><img src="./app/public/5.jpg" alt="sss" style="opacity: 0;z-index: 1"></li>
  <li><img src="./app/public/6.jpg" alt="sss" style="opacity: 1;z-index: 9"></li>
</ul>
<li class="J_slider_item slider_item" style="opacity: 0; z-index: 0; position: absolute;">                <a href="//c-nfa.jd.com/adclick?keyStr=6PQwtwh0f06syGHwQVvROzh5ulIgMw7+jmnFGWIVTm4ZWC0NjoFIWiTH/zN3o+/WiJrHxZmm04qPvYVovttjJxbSFaw22nniI59+dsHKfjpR2KxLv/1aJRn9dMWBoVNc4fLWlvRBkxoM4QrINBB7LScNQZY4ckkbbvdumBHQS6LED13r4VpXeIz/KjmSa04Fv/7SSe9q7ZBCXWwxjFHP/r6uO37CY0Gpq2F6VJodSxa+LcM/29HoFWRR+IS3JwzGX9Bp73GHZ79P1hYK54ixq3JUyYon4u6OguV+SYB+YpNilRuhHxyLJHkfid7fVu5mhiN6+Mc28apMMzd+icNrBA==&amp;cv=2.0&amp;url=//sale.jd.com/act/fCpjlzMUSDrxgqP.html" class="slider_item_lk J_slider_item_lk" fclog="17427.110990.381909.1.571_1792_8541" clstag="h|keycount|2016|08a04" target="_blank">                  <img alt="" src="//img14.360buyimg.com/da/jfs/t5614/343/1118331417/194586/98fec492/5923b2c4Ne50a6d3c.jpg" class="J_slider_item_img slider_item_img">                <i class="mod_actmark mod_actmark_focus"></i></a>              </li>
<router-outlet></router-outlet>
